<article>
    <header>
        <h2>This is a cookie result page</h2>
    </header>

    <ul>
        <li>User: {{user.userabc}}</li>
        <li>Username: {{user.username}}</li>
        <li>First Name: {{user.FirstName}}</li>
        <li>Last Name: {{user.LastName}}</li>
        <li>Profession: {{user.Profession}}</li>
        <li>Bio: {{user.Bio}}</li>
    </ul>

    <div>
        <button type="button" onclick="window.location.href='./logout'" class="btn btn-default"> Logout </button>
    </div>

</article>